<main>
  <div class="content">
    <ul class="editable category-list">
      {{#each model as |category|}}
        {{single-category category=category}}
      {{/each}}
    </ul>
  </div>
</main>

{{main-controlbar}}
