<main>
  {{#if newRecord}}
  <div class="content new-record">
    <ul class="editable category-list">
     {{single-category currentSelectedRecord=currentSelectedRecord category=newRecord printers=printers icons=icons colors=colors isNew=true}}
    </ul>
  </div>
  {{/if}}
  <div class="content">
    <ul class="editable category-list">
      {{#each model as |category|}}
        {{single-category currentSelectedRecord=currentSelectedRecord category=category printers=printers icons=icons colors=colors}}
      {{/each}}
    </ul>
  </div>
</main>

{{main-controlbar setRecord=(action 'createRecord') currentSelectedRecord=currentSelectedRecord isNew=(if newRecord true false)}}
