<main>
  <div class="content">
    <ul class="event-list editable">
      {{single-event printers=model.printers events=model.events}}
    </ul>
  </div>
</main>

<div class="addentrybar onlyonmobile"></div>