<main>
  <div class="content">
    <ul class="editable printer-list">
      {{#each model as |printer|}}
        {{single-printer printer=printer currentSelectedPrinter=currentSelectedPrinter}}
      {{/each}}
    </ul>
  </div>
</main>

{{main-controlbar currentSelectedRecord=currentSelectedPrinter}}