<main>
  <div class="content">
    <ul class="editable product-list">
      {{#each model.products as |product|}}
        {{single-product product=product currentSelectedProduct=currentSelectedProduct categories=model.categories units=model.units}}
      {{/each}}
    </ul>
  </div>
</main>

{{main-controlbar currentSelectedRecord=currentSelectedProduct}}