<main>
  <div class="content">
    <ul class="editable area-list">
      {{#each model.areas as |area|}}
        <li>
          <div class="single-area">{{area.name}}</div>
          <ul class="table-list editable">
            {{#each area.tables as |table|}}
              {{single-table table=table}}
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </div>
</main>

{{main-controlbar}}