<main>
  <div class="content">
    <ul class="editable area-list">
      {{#each model.areas as |area|}}
        <li {{action 'toggleEditable'}}>
          <div class="single-area">{{area.name}}</div>
          <div class="editarea">
            <ul class="table-list editable">
              {{#each area.tables as |table|}}
                {{single-table table=table}}
              {{/each}}
            </ul>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</main>

{{main-controlbar}}