<main>
  {{#if newRecord}}
    <div class="content new-record">
      <ul class="editable product-list">
        {{single-unit isNew=true unit=newRecord currentSelectedRecord=currentSelectedRecord}}
    </ul>
    </div>
  {{/if}}
  <div class="content">
    <ul class="editable unit-list">
      {{#each model as |unit|}}
        {{single-unit unit=unit currentSelectedRecord=currentSelectedRecord}}
      {{/each}}
    </ul>
  </div>
</main>

{{main-controlbar setRecord=(action 'createRecord') currentSelectedRecord=currentSelectedRecord isNew=(if newRecord true false)}}