<main>
  {{#if newRecord}}
    <div class="content new-record">
      <ul class="userlist editable">
        {{single-user user=newRecord currentSelectedRecord=currentSelectedRecord isNew=true}}
      </ul>
    </div>
  {{/if}}
  <div class="list-description">
    <p>Name</p>
    <p>Berechtigung</p>
    <p>Passwort</p>
  </div>
  <div class="content">
    {{#each alphabeticUserGroup as |userGroup|}}
      <div class="entriesbyletter">
        <h2>{{userGroup.letter}}</h2>
        <ul class="userlist editable">
          {{#each userGroup.users as |user|}}
            {{single-user user=user currentSelectedRecord=currentSelectedRecord}}
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</main>

{{main-controlbar setRecord=(action 'createRecord') currentSelectedRecord=currentSelectedRecord isNew=(if newRecord true false)}}