.pay-main {
  background: $white;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 100%;

  &__switch {
    button {
      @include button($noshadow, $grey, $grey-darker);
      &:active {
        @include button-hover($grey);
      }
      width: 50%;
      &.active {
        color: $white;
        background: $blue;
      }
    }
  }
  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  table {
    width: 100%;
  }
  .bigbutton {
    @include button($dark, $grey, $grey-darker);
    &:active {
      @include button-hover($grey);
    }
    width: 100%;
  }
  .flexcontainer {
    @include flexbox();
    &.mobile {
      display: none;
    }
    &.desktop {
      display: flex;
    }
  }
  .tablebutton {
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $grey-darker;
    border: none;
  }
  .required {
    background-color: $dashingred-lighter;
  }
  .sum {
    font-weight: bold;
    padding-top: 10px;
    padding-right: 20px;
  }
  .scrollable {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: pan-y;
  }
  .orders,
  .tables {
    height: calc(100% - 123px);
  }
  &_single-order {
    td.time {
      min-width: 82px;
    }
    .spacer {
      display: inline-block;
      padding-left: 20px;
    }
    &.notpaid {
      border-left: 5px solid $blue;
      border-bottom: 1px solid $blue;
    }
    &.paid {
      border-left: 5px solid $grey-dark;
      border-bottom: 1px solid $grey-dark;
      background-color: $grey-light;
      color: $grey-inactive;
    }
    td {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      font-weight: normal;
      font-size: 1em;
      &:first-child {
        padding-left: 20px;
        font-weight: bold;
        font-size: 1.28em;
        width: 30%;
      }
      &:last-child {
        padding-right: 20px;
        font-weight: bold;
        text-align: right;
        font-size: 1.28em;
        width: 20%;
      }
    }
  }
  &_single-table {
    position: relative;
    width: 15.666666666666%;
    margin: 0.5%;
    overflow: hidden;
    transition: 400ms;
    float: left;
    padding-bottom: 10%;

    @media (max-width: 1200px) {
      width: 19%;
    }
    @media (max-width: 1000px) {
      width: 24%;
    }
    @media (max-width: 700px) {
      width: 32.33333%;
    }
    @media (max-width: 450px) {
      width: 49%;
      padding-bottom: 22%;
    }

    div {
      position: absolute;
      text-align: center;
      top: 0;
      height: 100%;

      &.area{
        left:0;
        font-size: 1.3em;
        width: 25%;
      }
      &.table{
        left: 25%;
        font-size: 1.2em;
        width: 75%;
        overflow: hidden;
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  @media (max-width: 560px) {
    &__switch {
      button {
        @include button($noshadow, $grey, $grey-darker);
        &:active {
          @include button-hover($grey);
        }
        font-size: 14px;
        padding: 20px 5px 20px 5px;
        margin: 0;
        text-align: center;
        width: 50%;
        float: left;
      }
    }
    .scrollable {
      height: 100%;
    }
    .flexcontainer {
      &.mobile {
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        box-shadow: 0;
        height: 70px;
        span {
          font-size: 35px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &.desktop {
        display: none;
      }
    }
    .orders,
    .tables {
      height: calc(100% - 118px);
    }
    &_single-order {
      td {
        padding-left: 5px;
        padding-right: 5px;
        font-weight: normal;
        font-size: 1em;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        &.time {
          display: none;
        }
        &:first-child {
          padding-left: 5px;
          font-weight: bold;
          font-size: 14px;
          width: 30%;
          min-width: 110px;
        }
        &:last-child {
          padding-right: 5px;
          font-weight: bold;
          text-align: right;
          font-size: 1.28em;
        }
      }
    }
  }
}