.preview {
  border-left: 1px solid $grey-dark;
  width: 60px;
  background-color: $grey-light;
  float: left;
  overflow-y: scroll;
  &_single-item{
    position: relative;
    .caption {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      vertical-align: middle;
      font-size: 16px;
      line-height: 16px;
    }
    margin: 2.5px;
    background-color:$grey-light;
    list-style-type: none;
    width: 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    padding-bottom: 55px;
    align-self:flex-start;
  }
}
