.preview {
  border-left: 1px solid $grey-dark;
  width: 120px;
  background-color: $grey-light;
  float: left;
  overflow-y: scroll;
  padding-left:2px;
  &_single-item{
    position: relative;
     .caption {
      position: absolute;
      top: 50%;
      transform: translate(5px, -50%);
      text-align: left;
      vertical-align: middle;
      font-size: 16px;
      line-height: 16px;
      text-overflow: ellipsis;
      width: 90px;
      white-space: nowrap;
      display: block;
      overflow: hidden
    }
    .extra-icon {
      position: absolute;
      font-size:12px;
      bottom:5%;
      left:3px;
    }
    margin: 2.5px;
    background-color:$white;
    list-style-type: none;
    white-space: nowrap;
    overflow:hidden;
    padding-bottom: 55px;
    align-self:flex-start;
  }
}
