stages:
  - test
  - review
  - deploy

tests:
  image: registry.gitlab.com/mossss/gmbh-order:v2
  stage: test
  before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  - yarn
  - bower install --allow-root
  script:
  - yarn test

heroku:
  stage: deploy
  environment:
    name: staging
    url: http://gmbh.herokuapp.com
  script:
  - gem install dpl
  - dpl --provider=heroku --app=gmbh --api-key=$HEROKU_KEY
  only:
  - develop

start_review:
  stage: review
  environment:
    name: review/$CI_BUILD_REF_NAME
    url: https://mossss.gitlab.io/redirect/?r=${CI_BUILD_REF_SLUG}
    on_stop: stop_review
  before_script:
    - gem install dpl
    #create app
    - 'curl -n -X POST https://api.heroku.com/apps -H "Accept: application/vnd.heroku+json; version=3" -H "Authorization: Bearer ${HEROKU_KEY}" -H "Content-Type: application/json" -d "{\"name\": \"gmbh-${CI_BUILD_REF_SLUG:0:20}\", \"stack\": \"cedar-14\"}"'
    #set env
    - 'curl -n -X PATCH https://api.heroku.com/apps/gmbh-${CI_BUILD_REF_SLUG:0:20}/config-vars -H "Accept: application/vnd.heroku+json; version=3" -H "Authorization: Bearer ${HEROKU_KEY}" -H "Content-Type: application/json" -d "{\"GIT_HOST_HASH\": \"${GIT_HOST_HASH}\", \"GIT_DEPLOY_KEY\": \"${GIT_DEPLOY_KEY}\", \"GIT_HOST\": \"gitlab.com\", \"GMBH_BACKEND\": \"http://gmbh-backend.herokuapp.com\", \"NODE_MODULES_CACHE\": \"false\"}"'
    #set buildpack
    - 'curl -n -X PUT https://api.heroku.com/apps/gmbh-${CI_BUILD_REF_SLUG:0:20}/buildpack-installations -H "Accept: application/vnd.heroku+json; version=3" -H "Authorization: Bearer ${HEROKU_KEY}" -H "Content-Type: application/json" -d "{\"updates\": [{\"buildpack\": \"https://github.com/siassaj/heroku-buildpack-git-deploy-keys\"},{\"buildpack\": \"https://codon-buildpacks.s3.amazonaws.com/buildpacks/heroku/emberjs.tgz\"}]}"'
    #link to pipeline
    - 'curl -n -X POST https://api.heroku.com/pipeline-couplings -H "Accept: application/vnd.heroku+json; version=3" -H "Authorization: Bearer ${HEROKU_KEY}" -H "Content-Type: application/json" -d "{\"app\": \"gmbh-${CI_BUILD_REF_SLUG:0:20}\", \"pipeline\": \"${HEROKU_PIPELINE}\", \"stage\": \"review\"}"'
  script: 
    - "dpl --provider=heroku --app=\"gmbh-${CI_BUILD_REF_SLUG:0:20}\" --api-key=$HEROKU_KEY"
  only:
    - branches
  except:
    - master
    - develop

stop_review:
  stage: review
  variables:
    GIT_STRATEGY: none
  script:
    #delete app
    - 'curl -n -X DELETE https://api.heroku.com/apps/gmbh-${CI_BUILD_REF_SLUG:0:20} -H "Accept: application/vnd.heroku+json; version=3" -H "Authorization: Bearer ${HEROKU_KEY}"'
  when: manual
  environment:
    name: review/$CI_BUILD_REF_NAME
    action: stop


