$blue: #177FB2;
$blue-light: #6BCFFF;
$blue-lighter: #BEE9FF;

$grey-darker: #4D4D4D;
$grey-dark: #666666;
$grey: #E6E6E6;
$grey-light: #F0F0F0;
$white: #FFFFFF;

$orange: #FF5700;
$orange-light: #FF9863;
$orange-lighter: #FFEEE6;

$light: 1;
$dark: 0;
$noshadow: 2;

@import 'reset';
@import 'mixin-helper/helper.scss';
@import 'order/category-selection.scss';
@import 'order/item-list.scss';
@import 'order/orderlist.scss';
@import 'order/orderlist-item.scss';
@import 'order/modal-box.scss';
@import 'order/table-select.scss';
@import 'order/table-item.scss';
@import 'order/preview-list.scss';
@import 'order/item-settings.scss';
@import 'order/order-overview.scss';
@import 'order/order-overview-item.scss';


@font-face {
  font-family: 'Palanquin';
  src: url('./fonts/Palanquin-Medium.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Palanquin';
  src: url('./fonts/Palanquin-Light.ttf');
  font-weight: light;
}
@font-face {
  font-family: 'Palanquin';
  src: url('./fonts/Palanquin-Bold.ttf');
  font-weight: bold;
}

body {
  font-family:'Palanquin', arial, sans-serif;
  font-size: 14px;
  color: $grey-darker;
}

* {
  box-sizing: border-box;
}

h1{
  font-weight: bold;
  font-size: 2.57em;
}

h2{
  font-weight: bold;
  font-size: 1.92em;
}

h3{
  font-weight: bold;
  font-size: 1.28em;
}

body, html {
  width:100%;
  height:100%;
}

body > div {
  width:100%;
  height:100%;
}

.order-screen{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  min-height:0
}

.item-and-preview-list {
  display: flex;
  align-items: stretch;
  min-height:0;
  flex-grow:1;
}
