.login {
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  .wrapper {
    margin: 0 auto;
    width: 320px;
    font-size: 16px;
    img {
      max-height: 50vh;
      padding: 20px 0;
      width: 100%;
      @media (min-width: 768px) {
        padding: 20px 0 40px;
      }
    }
    .login-form {
      label {
        color: #B1B1B1;
        text-transform: uppercase;
        font-size: 0.57143em;
        font-weight: 200;
        letter-spacing: 0.2em;
        font-size: 0.8em;
      }
      input {
        border: none;
        outline: none;
        border-bottom: 1px solid #B1B1B1;
        color: #B1B1B1;
        background: none;
        font-weight: 400;
        font-size: 16px;
        display: block;
        margin-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin: 15px 0;
      }
      button {
        width: 100%;
        margin: 20px 0 10px 0;
        font-size: 16px;
        padding: 10px;
        color: $white;
        background: #959595;
        border: none;
      }
    }
    p {
      font-size: 12px;
      margin-top: 20px;
      color: #B1B1B1;
      text-align: center;
    }
    .error {
      text-align: center;
    }
  }
}