.login {
  width: 100%;
  height: 100%;
  background: $blue-baby;
  .wrapper {
    margin: 0 auto;
    width: 350px;
    text-align: center;
    font-size: 14pt;

    img {
      margin: 20px 0;
    }

    .login-form {
      border: 1px solid $grey;
      border-radius: 3px;
      padding: 20px;
      text-align: initial;
      background: $white;

      label {
        font-weight: bold;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        border: 1px solid $grey-dark;
        border-radius: 3px;
        margin: 20px 0;
        padding: 10px;
      }

      button {
        width: 100%;
        margin: 20px 0 10px 0;
        padding: 10px;
        color: $white;
        background: $blue;
        border: none;
        border-radius: 3px;
      }
    }

    p {
      font-size: 12px;
      margin-top: 20px;
      color: $blue;
    }

    .error {
      text-align: center;
    }
  }
}