._c-notification_1k7w9i {
  border-radius: 0;
  animation: notification-out 550ms ease-in-out;
}

._c-notification__content_1k7w9i {
  align-items: center;
}

._c-notification--in_1k7w9i {
  animation: notification-in 200ms ease-in-out;
}

.fa {
  margin-left: 12px;
}


/* close */

._c-notification__close_1k7w9i {
  align-self: center;
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  @extend .material-icons;
  content: 'close';
}


/* check */

._c-notification__icon_1k7w9i {
  padding: .5rem;
  background: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-check:before {
  @extend .material-icons;
  content: 'done';
}


/* error */

.fa-exclamation-circle:before {
  @extend .material-icons;
  content: 'error';
  font-size: 30px !important;
}

._c-notification--error_1k7w9i {
  background-color: #c9313a;
}


/* info */

.fa-info-circle:before {
  @extend .material-icons;
  content: 'info';
}


/*success message*/

._c-notification--success_1k7w9i {
  background-color: #8dc63f;
}


/* warning */

._c-notification--warning_1k7w9i {
  background-color: #A33637;
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  @extend .material-icons;
  content: 'warning';
  font-size: 30px !important;
}


/*duration bar*/

._c-notification__countdown_1k7w9i {
  display: none;
}

@keyframes notification-in {
  0% {
    opacity: 1;
    transform: translate(0, 80px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes notification-out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 80px);
  }
}