.category-selection{
  display:block;
}

.category-select-field{
  float:left;
  width:250px;
  height:250px;
  margin:5px;
  list-style-type:none;
}

.category-select-field:hover, .category-select-field:active {
  background-color:rgba(0,0,0,0.1);
}



.item-container{
  width:100%;
  display:flex;
  flex-wrap: wrap;
}

.single-item {

  width:150px;
  height:150px;
  background-color:rgba(255,30,30,0.5);
  padding:15px;
  margin:2px;
  list-style-type:none;
}

