<h2 id="title">MMP</h2>

{{#link-to 'index'}}
  Index
{{/link-to}}

{{#if session.isAuthenticated}}
  <button {{action 'logout'}}>Logout</button>
  {{log session}}
{{else}}
  {{#link-to 'login'}}
    Login
  {{/link-to}}
{{/if}}
{{outlet}}

