<nav>
  {{#link-to "dashboard"}}Dashboard{{/link-to}}
  {{#link-to "dashboard.settings"}}Settings{{/link-to}}
  {{#link-to "dashboard.categories"}}Kategorien{{/link-to}}
  {{#link-to "dashboard.items"}}Items{{/link-to}}
  {{#link-to "dashboard.users"}}Benutzer{{/link-to}}
  {{#link-to "dashboard.areas"}}Bereiche{{/link-to}}
  {{#link-to "dashboard.tables"}}Tische{{/link-to}}
  {{#link-to "dashboard.units"}}Einheiten{{/link-to}}

{{!--   {{#link-to "dashboard.settings"}}settings{{/link-to}}
  {{#link-to "dashboard.stats"}}stats{{/link-to}} --}}
</nav>
<br><br>
<div class="dashboard">{{outlet}}</div>