<h1>Welcome to the Admin-Dashboard</h1>
{{outlet}}
<nav>
  {{#link-to "dashboard"}}Dashboard{{/link-to}}
  {{#link-to "dashboard.items"}}items{{/link-to}}
  {{#link-to "dashboard.users"}}users{{/link-to}}
  {{#link-to "dashboard.tables"}}tables{{/link-to}}
  {{#link-to "dashboard.stats"}}stats{{/link-to}}
  {{#link-to "dashboard.settings"}}settings{{/link-to}}
</nav>