{{#if session.isAuthenticated}}
  {{logout-screen setErrorMessage=(action "setErrorMessage")}}
{{else}}
  {{login-screen setErrorMessage=(action "setErrorMessage")}}
{{/if}}

{{#if errorMessage}}
  <div>
    <p class="error">{{errorMessage}}</p>
  </div>
{{/if}}