<h1>Bereich hinzufügen</h1>
<table>
  <tr>
    <th>name</th>
    <th>&nbsp;</th>
  </tr>
  {{dashboard/area-item-new saveArea=(action "saveArea")}}
</table>

<h1>Bereich Liste</h1>
<table>
  <tr>
    <th>name</th>
    <th>&nbsp;</th>
  </tr>
  {{#each model as |area|}}
    {{dashboard/area-item area=area}}
  {{/each}}
</table>