<h1>Kategorie hinzufügen</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Aktiv</th>
    <th>Beschreibung</th>
    <th>Anzahl</th>
    <th>Drucker</th>
  </tr>
  {{dashboard/category-item-new printers=model.printers createCategory=(action 'createCategory')}}
</table>

<h1>Kategorie Liste</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Aktiv</th>
    <th>Beschreibung</th>
    <th>Anzahl</th>
    <th>Drucker</th>
  </tr>
  {{#each model.categories as |category|}}
  {{dashboard/category-item printers=model.printers category=category}}
  {{/each}}
</table>