<h1>Add Item</h1>
  <table>
    <tr>
    <th>Name</th>
    <th>Einheit</th>
    <th>Preis</th>
    <th>Steuer</th>
    <th>Stück</th>
    <th>Kategory</th>
  </tr>
  {{add-users createItem=(action 'createItem')}}
  </table>

<h1>Item List</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Einheit</th>
    <th>Preis</th>
    <th>Steuer</th>
    <th>Stück</th>
    <th>Kategory</th>
  </tr>
  {{#each model as |itemUnit|}}
    {{show-users user=itemUnit destroyItem=(action 'destroyItem')}}
  {{/each}}
</table>