<h3>Item List</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Einheitsgröße</th>
    <th>Einheit</th>
    <th>Preis</th>
    <th>Steuer</th>
    <th>Kategorie</th>
  </tr>
  {{dashboard/item-item-new units=model.units categories=model.categories}}
</table>

<h3>Item List</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Einheitsgröße</th>
    <th>Einheit</th>
    <th>Preis</th>
    <th>Steuer</th>
    <th>Kategorie</th>
  </tr>
  {{#each model.items as |item|}}
    {{dashboard/item-item item=item units=model.units categories=model.categories}}
  {{/each}}
</table>