<h1>Produkt hinzufügen</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Einheitsgröße</th>
    <th>Einheit</th>
    <th>Preis</th>
    <th>Steuer</th>
    <th>Kategorie</th>
  </tr>
  {{dashboard/item-item-new units=model.units categories=model.categories createItem=(action "createItem")}}
</table>

<h1>Produkt Liste</h1>
{{#sortable-group tagName="table" onChange="reorderItems" as |group|}}
  <tr>
    <th>Name</th>
    <th>Einheitsgröße</th>
    <th>Einheit</th>
    <th>Preis</th>
    <th>Steuer</th>
    <th>Kategorie</th>
  </tr>
  {{#each sortedItems as |item|}}
    {{#sortable-item tagName="tr" model=item group=group handle=".handle"}}
      <td>{{item.sortId}}</td>
      <td><span class="handle">&varr;  </span></td>
      {{dashboard/item-item item=item units=model.units categories=model.categories}}
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}