<h1>Benutzer Hinzufügen</h1>
<table>
  <tr>
    <th>Username</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Passwort</th>
    <th>Berechtigung</th>
    <th>Drucker</th>
  </tr>
  {{dashboard/user-item-new createUser=(action 'createUser')}}
</table>

<h1>Benutzer Liste</h1>
<table>
  <tr>
    <th>Username</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Passwort</th>
    <th>Berechtigung</th>
    <th>Drucker</th>
  </tr>
  {{#each model as |userUnit|}}
    {{dashboard/user-item user=userUnit}}
  {{/each}}
</table>