cache:
  paths:
    - /root/.yarn-cache
    - node_modules/

variables:
  MYSQL_DATABASE: gmbh_test
  MYSQL_ROOT_PASSWORD: GMBH

stages:
  - test
  - deploy

.job_template: &test_definition
  image: registry.gitlab.com/mossss/gmbh-api:v3
  stage: test
  before_script:
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - yarn

linting:
  <<: *test_definition
  script:
    - yarn run lint

tests:
  <<: *test_definition
  services:
    - mysql:latest
  script:
    - npm rebuild bcrypt
    - (! grep -nr '.only' test)
    - yarn run test-ci
