{{yield}}
<div class="foot">
  <button {{action 'close'}} class="button-grey default-btn">Abbrechen</button>
  <button {{action 'resetOrder'}} class="button-orange default-btn">Verwerfen</button>
</div>