<div class="modal-box">
  <div class="head">
    <h1>{{headline}}</h1>
  </div>
  <div class="body">
    {{yield}}
  </div>
  <div class="foot">
    <button class="button-grey button-2">Abbrechen</button>
    <button class="button-blue button-2">Übernehmen</button>
  </div>
</div>