{{yield}}
<h2>Bestellungen</h2>
<table>
  {{#each sortedOrders as |order|}}
  {{order-overview-item order=order actualOrder=actualOrder}}
  {{/each}}
</table>
<div class="flexcontainer">
  <button {{action "goToOrderScreen"}} class="default-btn bigbutton">zurück</button>
</div>