{{yield}}
<h2>Bestellungen</h2>
<div class="scrollable">
  <table>
    {{#each openOrders as |order|}}
      {{order-overview-item order=order actualOrder=actualOrder gotToOrderDetail=(action "gotToOrderDetail")}}
    {{/each}}

    {{#each paidOrders as |order|}}
      {{order-overview-item order=order actualOrder=actualOrder gotToOrderDetail=(action "gotToOrderDetail")}}
    {{/each}}
  </table>
</div>
<div class="flexcontainer">
  <button {{action "goToOrderScreen"}} class="default-btn bigbutton">zurück</button>
</div>