{{yield}}
{{category-selection categories=categories actualCategory=actualCategory changeCategory=(action "changeCategory")}}
<div class="item-and-preview-list">
  {{item-list category=actualCategory categories=categories items=items addItemToOrder=(action "addItemToOrder") showModal=(action "showModal") goToOrderList=(action "goToOrderList") goToOrderOverview=(action "goToOrderOverview")}}
  {{preview-list viewOrder=viewOrder goToOrderList=(action "goToOrderList") goToOrderOverview=(action "goToOrderOverview")}}
</div>