<div class="flexcontainer">
  <h2>Bestellung #{{order.id}}</h2>
  <h2 class="blue-light">offen</h2>
</div>
<table>
  {{#each order.orderitems as |item|}}

    {{order-detail-view-item orderItem=item}}

  {{/each}}
</table>
<div class="flexcontainer">
  <p class="sum">Tisch: {{order.table.name}}</p>
  <p class="sum">Summe: € {{order.totalAmount}}</p>
</div>
<div class="flexcontainer">
  <button class="smallbutton-grey">zurück</button>
  <button class="smallbutton-blue">Alles zahlen</button>
</div>