{{yield}}
<h2>Bestellungen</h2>
<table>
  {{#each sortedOrders as |order|}}
  {{order-overview-item order=order}}
  {{/each}}
</table>
<div class="flexcontainer">
  <button class="default-btn bigbutton">zurück</button>
</div>


{{order-detail-view order=sortedOrders.lastObject}}