{{yield}}
<h2>Bestellungen</h2>
<div class="scrollable">
  <table>
    {{#each paidOrders as |order|}}
      {{pay-main/single-item order=order actualOrder=actualOrder gotToOrderDetail=(action "orderClick")}}
    {{/each}}

    {{#each openOrders as |order|}}
      {{pay-main/single-item order=order actualOrder=actualOrder gotToOrderDetail=(action "orderClick")}}
    {{/each}}
  </table>
</div>
<div class="flexcontainer">
  <button {{action "backButton"}} class="default-btn bigbutton">zurück</button>
</div>