.order-detail{
  background: $white;
  margin: 0 auto;
  position: absolute;
  left: 0%;
  top: 0%;
  padding: 40px;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  h2{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  table{
    width: 100%;
    table-layout: fixed;
  }

  .bigbutton{
    @include button($dark, $blue, $white);
    &:active{
      @include button-hover($blue);
    }
    width: 100%;
  }

  .smallbutton{
    @include button($light, $grey, $grey-darker);
    &:active{
      @include button-hover($grey);
    }
    width: 48%;
  }

  .flexcontainer{
    @include flexbox();
    margin-top: 20px;
  }

  .tablebutton{
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $grey-darker;
    border: none;
  }

  .required{
    background-color: $orange-lighter;
  }

  .sum{
    font-weight: bold;
    padding-top: 10px;
    padding-right: 20px;
  }
  .menu--mobile{
    display: none;
  }
  .menu--desktop{
    display: block;
  }
  .scrollable {
    max-height:65%;
    overflow-y:auto;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }

  @media (max-width: 1000px) {

  }
  @media (max-width: 560px) {
    padding: 0px;
    h2{
      font-size: 14px;
      padding: 5px;
      text-align: center;
      background-color: $grey-light;
    }
    .flexcontainer.table_sum{
      margin-top: 0;
    }
    .smallbutton{
      padding: 0;
      padding-bottom: 70px;
      position: relative;
      margin-top: 0px;
      margin-bottom: 0px;
      width: 100%;
      &--orange{
        background-color: $orange-lighter;
      }
      &--blue{
        @include button($dark, $blue, $white);
      }
      span{
        font-size: 35px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }

    .menu--desktop{
      display: none;
    }
    .menu--mobile{
      display: flex;
      position: fixed;
      width: 100%;
      bottom: 0;
    }
    .bigbutton{
      margin-bottom: 0px;
    }
    .scrollable{
      height: calc(100% - 129px);
      max-height: none;
    }
  }

  &_single-item {
    border: 1px solid $grey-dark;
    &:first-child {
        border-top: 0px;
    }
    &:last-child {
        border-bottom: 0px;
    }
    @media (max-width: 560px) {
        border-left: 0px;
        border-right: 0px;
    }
    td {
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
        &:first-child {
            text-align: left;
            padding: 20px;
            width: 85px;
        }
        &:nth-child(2) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            span {
                font-weight: normal;
            }
        }
        &:last-child {
            text-align: right;
            padding: 20px;
            width: 120px;
        }
        &.disabled {
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: bold;
            &:first-child {
                text-align: right;
                padding-left: 20px;
                background: $grey-light;
            }
            &:last-child {
                text-align: right;
                padding-right: 20px;
                min-width: 100px;
                color: $white;
                background: $orange;
            }
        }
    }
}

}

.empty-order {
  @include button(2, transparent,  $grey-darker);
  width: 100%;
  display:inline-block;
  text-align:center;
}

