.dashboard h1{
 margin-bottom:10px;
}

.dashboard input, .dashboard select, .dashboard button{
height:40px;
  }

  .dashboard td{
    padding-left:3px;
  }

  nav a{
    display:inline-block;
    padding:20px;
    margin:4px;
    font-weight:bold;
    font-size:1.1em;
    color:$white;
    text-decoration: none;
    background-color:$blue;
  }

  nav a:hover, nav a:active {
    background-color:$blue-lighter;
  }
