/* Global styles migrated from Ember app/app.scss */

body {
  font-family: 'Palanquin', arial, sans-serif;
  font-size: 14px;
  color: #4D4D4D;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  font-size: 2.57em;
}

h2 {
  font-weight: bold;
  font-size: 1.92em;
}

h3 {
  font-weight: bold;
  font-size: 1.28em;
}

body,
html {
  width: 100%;
  height: 100%;
}

body > div {
  width: 100%;
  height: 100%;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.screen {
  display: none;
  position: absolute;
  &.isActive {
    display: flex;
    flex-direction: column;
  }
  width: 100%;
  height: 100%;
}

.item-and-preview {
  display: flex;
  align-items: stretch;
  min-height: 0;
  flex-grow: 1;
}

.login-screen {
  margin: 20px;
}

.logout-screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Font-face and icon font rules should be added to public/index.html or imported here if assets are available */
