.area-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  @media #{$desktop} {
    padding: 10px 10px 0 !important;
    margin-bottom: -10px;
  }
  li {
    display: flex;
    width: calc(50% - 5px);
    margin: 0 0 10px 0;
    &:nth-child(3n+1) {
      .single-area.available {
        background: $simpleblue;
      }
    }
    &:nth-child(3n+2) {
      .single-area.available {
        background: $donaublue;
      }
    }
    &:nth-child(3n+3) {
      .single-area.available {
        background: $deepseablue;
      }
    }
    @media #{$desktop} {
      width: 100%;
    }
  }
  .single-area {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $lightgray;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    .singleareatablecount {
      display: none;
    }
    @media #{$desktop} {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      padding-left: $doublepadding;
      cursor: pointer;
      height: 70px;
      &:hover {
        .singleeditindicator {
          display: block;
        }
      }
      .singleareaname {
        width: 40%;
      }
      .singleareatablecount {
        display: block;
      }
    }
  }
}