button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  font-size: $basefontsize;
  font-weight: $regular;
  margin-right: 50px;
  min-height: 45px;
  margin-bottom: 15px;
  @media #{$desktop} {
    margin-bottom: 0;
  }
  &.gray {
    background: $inputgray;
  }
  &.toggle {
    background: $toggleblue;
  }
  &.save {
    background: $gardengreen;
    display: none;
    @media #{$desktop} {
      display: block;
    }
  }
  &.delete {
    background: $scaryred;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
