.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  @media #{$desktop} {
    padding: 10px 10px 0 !important;
    margin-bottom: -10px;
  }
  li {
    display: block;
    width: calc(50% - 5px);
    margin: 0 0 10px 0;
    overflow: hidden;
    @media #{$desktop} {
      width: 100%;
    }
  }
  .single-category {
    display: inline-block;
    text-align: center;
    background: $lightgray;
    color: #fff;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
    @media #{$desktop} {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: $doublepadding;
      cursor: pointer;
      height: 70px;
      &:hover {
        .singleeditindicator {
          display: block;
        }
      }
    }
    .iconfont {
      font-size: 40px;
      @media #{$desktop} {
        font-size: 30px;
        margin-right: 10px;
      }
    }
    p {
      font-size: $basefontsize;
      margin-top: 5px;
      margin-bottom: 0;
      @media #{$desktop} {
        margin: 0;
      }
    }
  }
}

.new-record {
  .category-list {
    li {
      margin-bottom: 0;
    }
  }
}