.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
    @media #{$desktop} {
        padding: 10px 10px 0 !important;
        margin-bottom: -10px;
    }
    li {
        display: block;
        width: calc(50% - 5px);
        margin: 0 0 10px 0;
        overflow: hidden;
        @media #{$desktop} {
            width: 100%;
        }
        &:first-child {
            .single-category {
                background: $simpleblue;
            }
        }
        &:nth-child(2) {
            .single-category {
                background: $yellowfromtheegg;
            }
        }
        &:nth-child(3) {
            .single-category {
                background: $darkerred;
            }
        }
        &:nth-child(4) {
            .single-category {
                background: $donaublue;
            }
        }
    }
    .single-category {
        display: inline-block;
        text-align: center;
        background: $lightgray;
        color: #fff;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 110px;
        @media #{$desktop} {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-left: $doublepadding;
            cursor: pointer;
            height: 70px;
            &:hover {
                .singleeditindicator {
                    display: block;
                }
            }
        }
        .material-icons {
            font-size: 40px;
            @media #{$desktop} {
                margin-right: 10px;
            }
        }
        p {
            font-size: $basefontsize;
            margin-bottom: 0;
            @media #{$desktop} {
                margin: 0;
            }
        }
    }
}