.changepassword-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .input-row {
    width: 100%;
    @media #{$desktop} {
      align-items: center;
      width: 100%;
      max-width: 600px;
      flex-direction: column;
    }
  }
  .input-element {
    margin-right: 0;
    width: 100%;
  }
  button {
    display: block;
    margin-right: 0;
    @media #{$desktop} {
      margin-bottom: 15px;
    }
  }
  p {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    @media #{$desktop} {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}