.event-list {
    @media #{$desktop} {
        padding: 10px 10px 0 !important;
    }
    .single-event {
        background: $simpleblue;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media #{$desktop} {
            padding-top: 20px;
        }
        h3 {
            margin-bottom: 0;
            @media #{$desktop} {
                margin: 0 20px;
                font-size: 30px;
            }
        }
    }
    .editsingleevent {
        display: block !important;
    }
    .input-row:last-child {
        margin-bottom: 0;
    }
}