header {
    text-align: center;
    text-transform: uppercase;
    @media #{$desktop} {
        background: #fff;
        box-shadow: #{$boxshadow};
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        max-height: 105px;
        margin-bottom: 50px;
    }
    h1 {
        margin: 0;
        font-weight: $black;
        ;
        font-size: $headlinefontsize;
        letter-spacing: 0.1em;
        padding: 35px 0;
    }
    .logo-container {
        display: none;
        @media #{$desktop} {
            display: inline;
            width: $leftcolwidth;
            text-align: left;
        }
    }
    img {
        margin-left: 20px;
        height: 70px;
    }
}