.login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-height: 50vh;
    padding-bottom: 20px;
    width: 100%;
  }
  .login-form {
    width: 90%;
    input {
      margin-bottom: 15px;
    }
    button {
      margin-right: 0;
      background: $lightgray;
    }
  }
  p {
    color: $inputgray;
  }
  @media #{$desktop} {
    img {
      max-height: 400px;
      padding-bottom: 40px;
    }
  }
}