.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0, 0.5);
	z-index: $modallevel;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.modal-content {
	box-sizing: border-box;
	width: 90%;
	background: white;
	padding: 20px;
	position: relative;

	@media #{$desktop} {
		width: 60%;
	}

	.modal-close {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
	}
}