.pickable-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .iconfont {
    font-size: 35px !important;
    p {
      margin: 0;
    }
  }
}

.pickable-wrapper {
  width: 80px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    background: $lightergray;
  }
  @media #{$desktop} {
    width: 120px;
    height: 90px;
    margin-bottom: 10px;
  }
}

.pickable {
  width: 35px;
  height: 35px;
  margin: 10px;
  &:hover {
    cursor: pointer;
  }
  @media #{$desktop} {
    &.icon {
      width: 100%;
      text-align: center;
    }
  }
}

.pickable-title {
  display: none;
  @media #{$desktop} {
    display: block;
    margin-bottom: 10px;
  }
}

.color {
  border-radius: 100%;
  background: $simpleblue;
  p {
    display: none;
  }
}