.printer-list {
	@media #{$desktop} {
		padding: 10px 10px 0 !important;
		margin-bottom: -10px;
	}

	li {
		margin: 0 0 10px 0;

		&.open {
			.single-printer {
				justify-content: center;
				height: 100px;

				@media #{$desktop} {
					justify-content: flex-start;
					height: 50px;
				}
			}
			.singleprintindicator {
				display: none;
			}
		}
	}

	.single-printer {
		background: $lightergray;
		color: $lightgray;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		padding: 0 0 0 $doublepadding;
	}

	.singleprintindicator {
		background: $lightgray;
		color: white;
		height: 100%;
		line-height: 50px;
		width: 70px;
		text-align: center;
		font-size: 35px;
	}
}