.statistics {
  padding: $defaultpadding;
  div {
    margin-bottom: 40px;
  }
}

.sales {
  background-color: $inputgray;
  color: white;
  padding: 30px 0;
  text-align: center;
  @media #{$desktop} {
    padding: 50px 0;
  }
  p {
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
  .amount {
    font-size: 2em;
    @media #{$desktop} {
      font-size: 3em;
    }
  }
  &.total {
    margin-bottom: 10px !important;
    background: $darkerred;
  }
  &.today {
    background: $yellowfromtheegg;
  }
}