$main-nav-width: 155px;

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  .main-navigation {
    height: 100%;
    width: $main-nav-width;
    background: linear-gradient(to bottom, #9FECF9 , #5093A1);
    position: absolute;
    z-index: 1;

    li a{
      align-content: bottom;
      display: block;
      padding: 20px 10px;
      width: 100%;
      font-size: 1.2em;
      color: $black;
      text-decoration: none;

      &.data:before{
        content:'';
        background: url('images/stats.png');
        background-size: cover;
        display: block;
        height: 20px;
        width: 20px;
        margin-right: 7px;
        float: left;
      }

      &.active {
        background: rgba(255,255,255,0.5);
      }
    }
  }

  .sub-navigation {
    position: absolute;
    top: 0;
    left: $main-nav-width;
    height: 100%;
    padding: 20px;
    background: $grey-darker;
    color: $white;
    font-size: 1.2em;
  }
}
