.category-selection {
  width:100%;
  min-height:110px;
  justify-content: center;
  align-items:center;
  flex-direction:row;
  flex-wrap:wrap;
  display:flex;
  background-color:$grey;
  border-bottom: 1px solid $grey-dark;
}

.category-select-field {
  margin-right:10px;
  margin-left:10px;
  margin-bottom:10px;
  width:220px;
  height:90px;
  background-color:$blue;
  border:none;
  color:$white;
  font-size:18px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  &:hover, &:active{
    border:none;
    box-shadow: none;
    background-color:lighten($blue, 5%);
  }
}

.category-inactive {
  background-color: lighten(desaturate($blue, 50%), 10%);
}

.category-select-field img {
  height:30px;
  vertical-align: middle;
}
