.category-selection {
  width:100%;
  min-height:110px;
  justify-content: flex-start;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  overflow-x: auto;
  display:flex;
  background-color:$grey;
  border-bottom: 1px solid $grey-dark;


  &-field {
    position: relative;
    margin-right:10px;
    margin-left:10px;
    width:220px;
    height:90px;
    background-color:$blue;
    border:none;
    color: $white;
    font-size:18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    .content{
      @include center;
      text-align: center;
      .icon{
       font-size: 35px;
       margin-bottom: 6px;
     }
     .caption{
      font-size: 18px;
    }
  }

  &:hover, &:active{
    border:none;
    box-shadow: none;
    background-color:lighten($blue, 5%);
  }
}
}

.category-inactive {
  background-color: lighten(desaturate($blue, 50%), 10%);
}


