.category-selection {
  width:100%;
  min-height:110px;
  justify-content: flex-start;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  overflow-x: auto;
  display:flex;
  background-color:$grey;
  border-bottom: 1px solid $grey-dark;


  &-field {
    position: relative;
    margin-left:10px;
    width:220px;
    height:90px;
    background-color:$blue;
    border:none;
    color: $white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    .content{
      @include center;
      text-align: center;
      .icon{
        font-size: 35px;
        margin-bottom: 6px;
      }
      .caption{
        font-size: 16px;
      }
    }

    &:hover, &:active{
      border:none;
      box-shadow: none;
      background-color:lighten($blue, 5%);
    }
  }
  @media (max-width: 1000px) {
    min-height: 90px;
    &-field {
      width: 160px;
      height: 70px;
      .content{
        .icon{
          font-size: 24px;
        }
        .caption{

        }
      }
    }
  }
  @media (max-width: 450px) {
    min-height: 60px;
    &-field {
      margin-left:5px;
      width: 50px;
      height: 50px;
      .content{
        .icon{
          padding-top: 5px;
          font-size: 35px;
        }
        .caption{
          display: none;
        }
      }
    }
  }
}

.category-inactive {
  background-color: lighten(desaturate($blue, 50%), 10%);
}


