.item-list {
  width:90%;
  overflow-y:auto;
  justify-content: flex-start;
  flex-direction:row;
  display:flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.single-item{
  margin-top:7px;
  width:23%;
  margin-right:1%;
  margin-left:1%;
  margin-bottom:7px;
  height:85px;
  background-color:$grey-light;
  border:none;
  color:$grey-darker;
  font-weight:bold;
  font-size:1.28em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

  &:hover, &:active {
    box-shadow: none;
    background-color:lighten($grey-light, 5%);
  }

  @include styles();
}
