.item-settings {
  margin-top: 20px;

  .button-group{
    @include flexbox-around();
    justify-content: space-between;
    padding: 20px;
    input {
      text-align: center;
      font-size: 2.57em;
      font-family:'Palanquin', arial, sans-serif;
      color: $grey-darker;
      font-weight: bold;
    }

    .input {
      max-width: 100px;

      input {
        width: 100%;
        border: none;
        outline: none;

        &:active {
          outline: none;
        }
      }
    }

    button {
      width: 70px;
      height: 70px;
    }
  }

  .extra{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    input {
      font-size: 1.92em;
      text-align: center;
      color: $grey-darker;
      width: 100%;
      font-family:'Palanquin', arial, sans-serif;
      font-weight: bold;
      border: 1px solid $grey-dark;
    }
  }
  @media (max-width: 560px){
    .extra{
      padding: 10px;
    }
    .button-group{
      padding: 10px;  
    }
  }
}