.hidden{
  display: none;
}
.modal{
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.modal-box{
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 66.66%;
  background-color: $white;

  .head{
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 100%;
    min-height: 68px;
    text-align: center;
    background-color: $grey;

    h1{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .body{
    padding: 0 20px;
  }

  .foot{
    padding: 20px;
    display: flex;
    justify-content: space-between;

    button {
      width: 48%;
    }

    button.big {
      width: 100%;
    }
  }
}