.hidden{
  display: none !important;
}
.modal{
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-box{
  width: 66.66%;
  background-color: $white;

  .head{
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 100%;
    min-height: 68px;
    text-align: center;
    background-color: $grey;

    h1{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 1.3em;
    }
  }

  .body{
    padding: 0 20px;
  }

  .foot{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
      width: 48%;
    }

    button.big {
      width: 100%;
    }
  }
  @media (max-width: 560px) {
    width: 100%;
    .head{
      padding: 5px;
      min-height: 0px;
      h1{
        font-size: 24px;
      }
    }
    .body{
      padding: 10px;
    }
    .foot{
      padding: 10px;
      button{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 49%;      
      }
    }
  }
  @media (max-width: 350px){
    .foot{
      button{
        width: 100%;
        margin-top: 15px;
        box-shadow: none;
        &:first-child{
          margin-top: 0px;
        }
      }
    }
  }
}
