.order-overview-item{
  border: 1px solid $grey-dark;

  .spacer{
    display: inline-block;
    padding-left: 20px;
  }
  &.notpaid{
    background-color: $blue-lighter;
  }

  &.paid{
    background-color: $grey-light;
  }


  td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    font-size: 1em;
    &:first-child {
      padding-left: 20px;
      font-weight: bold;
      font-size: 1.28em;
      width: 30%;
    }
    &:nth-child(2){
      width: 50%;
    }
    &:last-child {
      padding-right: 20px;
      font-weight: bold;
      text-align: right;
      font-size: 1.28em;
      width: 20%;
    }
  }
}
