.orderlist-item{
  border: 1px solid $grey-dark;
  @media (max-width: 560px) {
    border-left: 0px;
    border-right: 0px;
  }
  &:first-child{
    border-top: 0px;
  }
  &:last-child{
    border-bottom: 0px;
  }
}
.orderlist-item td{
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  &:first-child{
    text-align: left;
    padding: 20px;
    width: 85px;
  }
  &:nth-child(2){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span{
      font-weight: normal;
    }
  }
  &:last-child{
    text-align: right;
    padding: 20px;
    width: 120px;
  }
}

.orderlist-item td.disabled{
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  &:first-child{
    text-align: right;
    padding-left: 20px;
    background: $grey-light;
  }
  &:last-child{
    text-align: right;
    padding-right: 20px;
    min-width: 100px;
    color: $white;
    background: $orange;
  }
}
