
.item-container{
  width:100%;
  display:flex;
  flex-wrap: wrap;
}

.single-item {

  width:150px;
  height:150px;
  background-color:rgba(255,30,30,0.5);
  padding:15px;
  margin:2px;
  list-style-type:none;
}

