.order-overview{
  background: $white;
  margin: 0 auto;
  padding: 40px;
  padding-top: 10px;
  width: 100%;
  height: 100%;

  h2{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  table{
    width: 100%;
  }

  .bigbutton{
    @include button($dark, $grey, $grey-darker);
    &:active{
      @include button-hover($grey);
    }
    width: 100%;
  }

  .flexcontainer{
    @include flexbox();
    margin-top: 20px;
  }

  .tablebutton{
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $grey-darker;
    border: none;
  }

  .required{
    background-color: $orange-lighter;
  }

  .sum{
    font-weight: bold;
    padding-top: 10px;
    padding-right: 20px;
  }
}

.order-overview .scrollable{
  max-height:74%;
  overflow-y:auto;
  overflow-x:hidden;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
