.order-overview-item{
  border: 1px solid $grey-dark;

  td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    font-size: 1em;
  }

  td:first-child {
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.28em;
    width: 33%;
  }

  td:last-child {
    padding-right: 20px;
    font-weight: bold;
    text-align: right;
    font-size: 1.28em;
    width: 17%;
  }

  &.offen td {
    background-color: $blue-lighter;
  }

  &.bezahlt td {
    background-color: $grey-light;
  }
}
