.order-detail-view{
  background: $white;
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  height: 100%;


  h2{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .notPaid{
    color: $blue-light;
  }

  .isPaid{
    color: $grey-dark;
  }

  table{
    width: 100%;
    table-layout: fixed;
  }

  .smallbutton-blue{
    @include button($dark, $blue, $white);
    &:active{
      @include button-hover($blue);
    }
    padding: 20px;
    width: 48%;
  }
  .smallbutton-grey{
    @include button($light, $grey, $grey-darker);
    &:active{
      @include button-hover($grey);
    }
    padding: 20px;
    width: 48%;
  }

  .bigbutton{
    @include button($dark, $blue, $white);
    &:active{
      @include button-hover($blue);
    }
    padding: 20px;
    width: 100%;
  }

  .flexcontainer{
    @include flexbox();
    margin-top: 20px;
  }

  .tablebutton{
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $grey-darker;
    border: none;
  }

  .required{
    background-color: $orange-lighter;
  }

  .sum{
    font-weight: bold;
    padding-top: 10px;
    padding-right: 20px;
  }
}
