.orderlist-item{
  border: 1px solid $grey-dark;
}
.orderlist-item td{
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  &:first-child{
    text-align: left;
    padding-left: 20px;
    width: 15%;
  }
  &:nth-child(2){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 1px;
    padding-left: 10px;
    span{
      font-weight: normal;
    }
  }
  &:last-child{
    text-align: right;
    padding-right: 20px;
    width: 17%;
  }
}
