.order{
  overflow-y: hidden;
}

.connection-indicator {
  position: fixed;
  top: 15px;
  right: 15px;
  width:35px;
  height:35px;
  z-index:1000;
  border-radius:50%;
  background-color:rgba(#bc0000, 0.8);

  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
  }
}
