.preview-list {

  width:10%;
  display:flex;
  flex-direction: column;

  border-left:1px solid $grey-dark;
  background-color:$grey-light;
  align-self:flex-start;
}

.preview-list li {
  margin:5%;
  background-color:$grey-light;
  list-style-type: none;
  width:90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left:5px;
  padding-right:5px;
  overflow:hidden;
  height: 50px;
  align-self:flex-start;
  @include stylespreview();
}
