.preview-list {
  flex-grow: 1;
  width:10%;
  display:flex;
  flex-direction: column;
  border-left:1px solid $grey-light;
}


.preview-list li {
  background-color:grey;
  margin:5%;
  background-color:$grey-light;

  list-style-type: none;
  width:90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left:5px;
  padding-right:5px;
  padding-top:15px;
  padding-bottom:15px;
  overflow:hidden;
}
