.table-select{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .table-mask{
    overflow-y: auto;
    max-height: 470px;
  }

  button{
    word-break: break-all;
  }
}
