.table-item{
  display: block;
  float: left;
  width: 24%;
  margin: 0.5%;
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: 560px){
    width: 32.33333%;
  }
  @media (max-width: 300px){
    width: 49%;
  }
  
  border: 0;

  td {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    &:first-child {
      text-align: left;
      padding: 20px;
    }
    &:nth-child(2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      span {
          font-weight: normal;
      }
    }
    &:last-child {
      text-align: right;
      padding: 20px;
      width: 120px;
    }
    &.disabled {
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: bold;
      text-align: center;
      &:nth-child(2) {
        background: $grey-light;
      }
      &:nth-child(3){
        background:lighten($orange, 10%);
        color: $white;
      }
      &:last-child {
        text-align: right;
        padding-right: 20px;
        min-width: 100px;
        color: $white;
        background: $orange;
      }
    }
  }
}