.table-select{
  width: 100%;
  height: 100%;
  .navbar{
    button{
      width:33.33%;
      display:block;
      float:left;
      background-color:grey;
      text-align:center;
      height:80px;
      border: 0;
      color:white;
      border-right: 4px solid white;
      &:nth-child(3){
        border-right: 0;
      }
    }
  }
  .table-mask{
    overflow-y: auto;
    max-height: 470px;
    width:100%;
    @media (max-height: 680px){
      max-height: 350px;
    }
    @media (max-height: 560px){
      max-height: 250px;
    }
    h3 {
      text-align:center;
      display:block;
      padding-top:15px;
      padding-bottom:10px;
    }
    .button-modal {
      width:100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    input {
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
    }
  }

  button{
    word-break: break-all;
  }
  @media (max-width: 560px){
    .table-mask{
      @media (max-height: 680px){
        max-height: 450px;
      }
      @media (max-height: 560px){
        max-height: 350px;
      }
      @media (max-height: 460px){
        max-height: 250px;
      }
    }
  }

}
