.table-select{
  width: 100%;
  height: 100%;

  &__switch {
    margin-top: 20px;
    button {
      @include button($noshadow, $grey, $grey-darker);
      &:active {
        @include button-hover($grey);
      }
      width: 50%;
      &.active {
        color: $white;
        background: $blue;
      }
    }
  }

  button.submit{
    width: 100%;
  }

  input[type=text]{
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .navbar{
    width:100%;
    height:80px;
    button{
      width:32.33%;
      margin: 0.5%;
      display:block;
      float:left;
      background-color:#454545;

      height:96%;
      border: 0;
      color:white;
    }
  }
  .table-mask{
    overflow-y: auto;
    min-height: 250px;
    max-height: 470px;
    padding-top: 20px;
    width:100%;
    @media (max-height: 680px){
      max-height: 350px;
    }
    @media (max-height: 560px){
      max-height: 250px;
    }
    h2, h3 {
      text-align:center;
      display:block;
      padding-top:15px;
      padding-bottom:10px;
      clear:both;
    }

    h3:first-child {
      padding-top: 0;
    }

    .button-modal {
      width:100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    input {
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
    }
  }

  button{
    word-break: break-all;
  }
  @media (max-width: 560px){
    .table-mask{
      @media (max-height: 680px){
        max-height: 358px;
      }
      @media (max-height: 560px){
        max-height: 258px;
      }
      @media (max-height: 460px){
        max-height: 250px;
      }
    }
  }

}
