.table-item {
    position: relative;
    width: 15.666666666666%;
    margin: 0.5%;
    overflow: hidden;
    transition: 400ms;
    float: left;
    padding-bottom: 10%;

    @media (max-width: 1200px) {
      width: 19%;
    }
    @media (max-width: 1000px) {
      width: 24%;
    }
    @media (max-width: 700px) {
      width: 32.33333%;
    }
    @media (max-width: 450px) {
      width: 49%;
      padding-bottom: 22%;
    }

    div {
      position: absolute;
      text-align: center;
      top: 0;
      height: 100%;

      &.button {
        width: 100%;
      }

      &.area{
        left:0;
        font-size: 1.3em;
        width: 25%;
      }
      &.table{
        left: 25%;
        font-size: 1.2em;
        width: 75%;
        overflow: hidden;
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }