<nav>
  {{#link-to 'events'}}
    <span class="material-icons">weekend</span>
    <span class="linktext">Veranstaltung</span>
  {{/link-to}}

  {{#link-to 'users'}}
    <span class="material-icons">face</span>
    <span class="linktext">User</span>
  {{/link-to}}

  {{#link-to 'printers'}}
    <span class="material-icons">print</span>
    <span class="linktext">Drucker</span>
  {{/link-to}}

  {{#link-to 'categories'}}
    <span class="material-icons">layers</span>
    <span class="linktext">Kategorien</span>
  {{/link-to}}

  {{#link-to 'products'}}
    <span class="material-icons">style</span>
    <span class="linktext">Produkte</span>
  {{/link-to}}

  {{#link-to 'tables'}}
    <span class="material-icons">local_bar</span>
    <span class="linktext">Tische</span>
  {{/link-to}}

  {{#link-to 'logout'}}
    <span class="material-icons">power_settings_new</span>
    <span class="linktext">Logout</span>
  {{/link-to}}
</nav>
