<div class="modal-content">
  <div class="modal-close material-icons" {{action 'hideModal'}}>close</div>
  <div class="pickable-container">
    <!-- need icon entries in database or as obj with icon shortcut and icon name -->
    <div class="pickable-wrapper">
      <div class="pickable icon material-icons">
        <p>explore</p>
      </div>
      <div class="pickable-title">Erkunden</div>
    </div>
    <div class="pickable-wrapper">
      <div class="pickable icon material-icons">
        <p>help</p>
      </div>
      <div class="pickable-title">Hilfe</div>
    </div>
    <div class="pickable-wrapper">
      <div class="pickable icon material-icons">
        <p>info</p>
      </div>
      <div class="pickable-title">Info</div>
    </div>
    <div class="pickable-wrapper">
      <div class="pickable icon material-icons">
        <p>favorite</p>
      </div>
      <div class="pickable-title">Lieblings</div>
    </div>
    <div class="pickable-wrapper">
      <div class="pickable icon material-icons">
        <p>rowing</p>
      </div>
      <div class="pickable-title">Rudern</div>
    </div>
    <div class="pickable-wrapper">
      <div class="pickable icon material-icons">
        <p>redeem</p>
      </div>
      <div class="pickable-title">Einlösen</div>
    </div>
    <div class="pickable-wrapper">
      <div class="pickable icon material-icons">
        <p>schedule</p>
      </div>
      <div class="pickable-title">Zeitplan</div>
    </div>
  </div>
</div>