{{#if switch}}
  {{#modal-dialog
          onClose=(action (mut switch) false)
          clickOutsideToClose=true
          overlayClass='modal'
          containerClass="modal-content"
  }}
  <div class="modal-close material-icons" onclick={{action (mut switch) false}}>close</div>
  <div class="pickable-container">
    {{#each icons as |icon|}}
    <div class="pickable-wrapper" {{action 'selectAndClose' icon}}>
      <span class="iconfont {{icon}}"></span>
    </div>
    {{/each}}
  </div>
  {{/modal-dialog}}
{{/if}}