{{#if showModal}}
  {{#modal-dialog
          onClose=(action (mut showModal) false)
          clickOutsideToClose=true
          overlayClass='modal'
          containerClass="modal-content"
  }}
  <div class="modal-close material-icons" onclick={{action (mut showModal) false}}>close</div>
  <div class="changepassword-container">
    <p>Passwort ändern</p>
    <div class="input-row">
      <div class="input-element">
        <label for="password">Neues Passwort</label>
        {{input value=user.password}}
      </div>
    </div>
    <div class="input-row">
        <button class="save" {{action 'save' user.password}}>Speichern</button>
        <button class="delete" {{action 'cancel'}}>Abbrechen</button>
      </div>
  </div>
  {{/modal-dialog}}
{{/if}}