<div class="modal-content">
  <div class="modal-close material-icons" {{action 'hideModal'}}>close</div>
    <div class="pickable-container">
      <div class="pickable-wrapper">
        <div class="pickable color">
          <p>HEX code</p>
          </div>
          <div class="pickable-title">simple blue</div>
      </div>
      <div class="pickable-wrapper">
        <div class="pickable color">
          <p>HEX code</p>
          </div>
          <div class="pickable-title">simple blue</div>
      </div>
      <div class="pickable-wrapper">
        <div class="pickable color">
          <p>HEX code</p>
          </div>
          <div class="pickable-title">simple blue</div>
      </div>
      <div class="pickable-wrapper">
        <div class="pickable color">
          <p>HEX code</p>
          </div>
          <div class="pickable-title">simple blue</div>
      </div>
  </div>
</div>