{{#if showModal}}
  {{#modal-dialog
          onClose=(action (mut showModal) false)
          clickOutsideToClose=true
          overlayClass='modal'
          containerClass="modal-content"
  }}
  <div class="modal-close material-icons" onclick={{action (mut showModal) false}}>close</div>
  <div class="pickable-container">
    {{#each colors as |color|}}
    <div class="pickable-wrapper" {{action 'selectAndClose' color}}>
      <div class="pickable color" style="background:{{color}}">
          <p>{{color}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/modal-dialog}}
{{/if}}