<div class="single-event">
  <h3>Donutfest</h3>
  <p>20.4.2017 – 23.4.2017</p>
</div>
<div class="editsingleevent editarea">
  <div class="input-row align-left">
    <div class="input-element">
      <label for="name">Name</label>
      <input type="text" name="type" value="Donutfest">
    </div>
    <div class="input-element">
      <label for="name">Startdatum</label>
      {{bootstrap-datepicker format="dd.mm.yyyy" startDate=todaysDate value=startDate}}
    </div>
    <div class="input-element">
      <label for="name">Enddatum</label>
      {{bootstrap-datepicker format="dd.mm.yyyy" value=endDate}}
    </div>
  </div>
  <div class="input-row align-left">
    <div class="input-element">
      <label for="printer">Drucker</label>
      <div class="select-wrapper">
        <select name="printer">
                      <option value="drucker01">Drucker01</option>
                      <option value="drucker02" selected>Drucker02</option>
                    </select>
      </div>
    </div>
    <div class="input-element">
      <label for="expirationtime">Laufzeit</label>
      <input type="number" value="72">
    </div>
    <div class="input-element">
      <label for="name">Name (versteckt)</label>
      <input type="text" name="type" value="Donutfest">
    </div>
  </div>
  <div class="input-row">
    <button class="gray" type="button">Benutzer&shy;definierte Tische deaktiviert</button>
    <button class="green" type="button">Sofort&shy;bezahlung aktiviert</button>
    <button class="green" type="button">Preis auf Produkte aktiviert</button>
    <button class="gray" type="button">Kellner&shy;zugriffs&shy;berechtigung deaktiviert</button>
  </div>
</div>