// brightness - dark buttons (high saturation) need a darker dropshadow
//              light buttons (pastell) need a lighter dropshadow
@mixin button($brightness, $background-color, $font-color){
  background-color: $background-color;
  font-weight: bold;
  font-size: 1.28em;
  color: $font-color;
  @if $brightness == 0 {
    box-shadow: rgba(0,0,0,0.2) 2px 2px 5px;
  }
  @if $brightness == 1{
    box-shadow: rgba(0,0,0,0.3) 2px 2px 5px;
  }
  @if $brightness == 2{
    box-shadow: none;
  }

  border: none;
}

@mixin button-hover($background-color){
  background-color: lighten($background-color,5%);
  box-shadow: none;
}

.default-btn{
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-blue{
  @include button($dark, $blue, $white);

  &:hover, &:active {
    @include button-hover($blue);
  }
}

.button-grey{
  @include button($light, $grey, $grey-darker);

  &:hover, &:active {
    @include button-hover($grey);
  }
}

@mixin styles(){
  &.style-1{
    @include button($dark, $blue-light, $white);

    &:hover, &:active {
      @include button-hover($blue-light);
    }
  }

  &.style-2{
    @include button($dark, $orange-light, $white);

    &:hover, &:active {
      @include button-hover($orange-light);
    }
  }

  &.style-3{
    @include button($dark, $orange, $white);

    &:hover, &:active {
      @include button-hover($orange);
    }
  }

  &.style-0{
    @include button($dark, $blue, $white);

    &:hover, &:active {
      @include button-hover($blue);
    }
  }
}

@mixin flexbox(){
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}


@mixin stylespreview(){
  &.style-1{
    @include button($noshadow, $blue-light, $white);
  }

  &.style-2{
    @include button($noshadow, $orange-light, $white);
  }

  &.style-3{
    @include button($noshadow, $orange, $white);
  }

  &.style-0{
    @include button($noshadow, $blue, $white);
  }
}
