// brightness - dark buttons (high saturation) need a darker dropshadow
//              light buttons (pastell) need a lighter dropshadow
@mixin button($brightness, $background-color, $font-color){
  background-color: $background-color;
  font-weight: bold;
  font-size: 1.28em;
  color: $font-color;
  @if $brightness == 0 {
    box-shadow: rgba(0,0,0,0.2) 2px 2px 5px;
  }
  @if $brightness == 1{
    box-shadow: rgba(0,0,0,0.3) 2px 2px 5px;
  }
  @if $brightness == 2{
    box-shadow: none;
  }

  border: none;
}

@mixin button-hover($background-color){
  background-color: lighten($background-color,5%);
  box-shadow: none;
}

.default-btn{
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-blue{
  @include button($dark, $blue, $white);

  &:hover, &:active {
    @include button-hover($blue);
  }
}

.button-orange{
  @include button($dark, $orange, $white);

  &:hover, &:active {
    @include button-hover($orange);
  }
}

.button-grey{
  @include button($light, $grey, $grey-darker);

  &:hover, &:active {
    @include button-hover($grey);
  }
}

@mixin styles(){
  &.style-1{
    @include button($dark, #245C67, $white);

    &:hover, &:active {
      @include button-hover(#245C67);
    }
  }

  &.style-2{
    @include button($dark, #689732, $white);

    &:hover, &:active {
      @include button-hover(#689732);
    }
  }

  &.style-3{
    @include button($dark, #A75938, $white);

    &:hover, &:active {
      @include button-hover(#A75938);
    }
  }

  &.style-0{
    @include button($dark, #D74F15, $white);

    &:hover, &:active {
      @include button-hover(#D74F15);
    }
  }
}

@mixin flexbox(){
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

@mixin flexbox-around(){
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}


@mixin stylespreview(){
  &.style-1{
    @include button($noshadow, #245C67, $white);
  }

  &.style-2{
    @include button($noshadow, #689732, $white);
  }

  &.style-3{
    @include button($noshadow, #A75938, $white);
  }

  &.style-0{
    @include button($noshadow, #D74F15, $white);
  }
}

// DISPLAY HELPER

.none {
  display: none;
}

.hidden {
  display: hidden;
}

// ANIMATIONS

@keyframes slide-left-in {
  0% {
    left: 100%;
  }
  99% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slide-left-out {
  0% {
    visibility: visible;
    left: 0%;
  }
  98% {
    visibility: visible;
    left: -100%;
  }
  99% {
    visibility: hidden;
    left: -100%;
  }
  100% {
    visibility: hidden;
    left: 0%;
  }
}

@keyframes slide-right-in {
  0% {
    left: -100%;
  }
  99% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slide-right-out {
  0% {
    visibility: visible;
    left: 0%;
  }
  98% {
    visibility: visible;
    left: 100%;
  }
  99% {
    visibility: hidden;
    left: 100%;
  }
  100% {
    visibility: hidden;
    left: 0%;
  }
}

.slide-left-in{
  position: absolute;
  animation-name: slide-left-in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.slide-left-out{
  position: absolute;
  animation-name: slide-left-out;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.slide-right-in{
  position: absolute;
  animation-name: slide-right-in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.slide-right-out{
  position: absolute;
  animation-name: slide-right-out;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.center {
  text-align: center;
}

.space-top {
  margin-top: 1em;
}
.space-right {
  margin-right: 1em;
}
.space-bottom {
  margin-bottom: 1em;
}
.space-left {
  margin-left: 1em;
}