@import "tailwindcss";

.root {
  isolation: isolate;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

body {
    position: relative;
}

button,
a {
  touch-action: manipulation;
}

button svg,
a svg,
button svg[width][height],
a svg[width][height] {
  width: 1.1em;
  height: 1.1em;
  flex: 0 0 auto;
}

@theme {
  --color-primary-50: #e6f7f5;
  --color-primary-100: #d9f3ef;
  --color-primary-200: #b6e5dd;
  --color-primary-300: #8fd6cb;
  --color-primary-400: #6fc9bb;
  --color-primary-500: #5ac2b1;
  --color-primary-600: #4dbeac;
  --color-primary-700: #40b3a1;
  --color-primary: #40b3a1;
  --color-primary-800: #2e9585;
  --color-primary-900: #148173;
  --color-primary-contrast: #ffffff;
}
